@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
*{
    font-family: 'Inter', sans-serif;
}

:root{
    --error-bg-color: #fad7d2;
    --error-color: #E01006;
    --hover-color-grey: #fffffa5d;
    --info-bg-color: #afcdf5;
    --info-color: #2236B5;
    --light-color: white;
    --primary-color: #6D28D9;
    --secondary-color: #d92b6d;
    --success-bg-color: #92fdbf;
    --success-color: #157A00;
    --warning-bg-color: #fcea88 ;
    --warning-color: #836f00;
    --default-color: #535353;
    --disabled-color: #8b8b8b;
    --primary-bg-color:#d1d8ff;
    --shadow-color: #b9b9b9;
    --dark-color: #000000;
}