<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Muffin UI | Cards</title>
    <link rel="stylesheet" href="card.css">
    <script src="https://kit.fontawesome.com/c89017add5.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="card-container">
        <div class="card card-default">
            <div class="card-img">
                <img src="../images/cake-2.jpg" alt="">
            </div>
            <div class="card-header">
                Chocolate Cake
            </div>
            <div class="card-title">
                by Muffin Store
            </div>
            <div class="card-content">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Distinctio enim optio numquam eaque labore
                perspiciatis
            </div>
            <div class="card-buttons">
                <span class="card-button">VISIT</span>
                <span class="card-button">BOOKMARK</span>
                <i class="card-icon fa fa-heart-o fa-lg"></i>
                <i class="card-icon fa fa-shopping-cart fa-lg" aria-hidden="true"></i>
                <i class="card-icon fa fa-ellipsis-v fa-lg"></i>
            </div>
        </div>


        <div class="card card-heading-top">
            <div class="card-img">
                <img src="../../images/cake-2.jpg" alt="">
            </div>
            <div class="card-header">
                Chocolate Cake
            </div>
            <div class="card-title">
                by Muffin Store
            </div>
            <div class="card-content">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Distinctio enim optio numquam eaque labore
                perspiciatis
            </div>
            <div class="card-buttons">
                <span class="card-button">VISIT</span>
                <span class="card-button">BOOKMARK</span>
                <i class="card-icon fa fa-heart-o fa-lg"></i>
                <i class="card-icon fa fa-shopping-cart fa-lg" aria-hidden="true"></i>
                <i class="card-icon fa fa-ellipsis-v fa-lg"></i>
            </div>
        </div>

        <div class="card card-buttons-only">
            <div class="card-img">
                <img src="../../images/cake-2.jpg" alt="">
            </div>
            <div class="card-header">
                Chocolate Cake
            </div>
            <div class="card-title">
                by Muffin Store
            </div>
            <div class="card-content">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Distinctio enim optio numquam eaque labore
                perspiciatis
            </div>
            <div class="card-buttons">
                <span class="card-button">VISIT</span>
                <span class="card-button">BOOKMARK</span>
                <i class="card-icon fa fa-heart-o fa-lg "></i>
                <i class="card-icon fa fa-shopping-cart fa-lg" aria-hidden="true"></i>
                <i class="card-icon fa fa-ellipsis-v fa-lg"></i>
            </div>
        </div>

        <div class="card card-icons-only">
            <div class="card-img">
                <img src="../images/../cake-2.jpg" alt="">
            </div>
            <div class="card-header">
                Chocolate Cake
            </div>
            <div class="card-title">
                by Muffin Store
            </div>
            <div class="card-content">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Distinctio enim optio numquam eaque labore
                perspiciatis
            </div>
            <div class="card-buttons">
                <span class="card-button">VISIT</span>
                <span class="card-button">BOOKMARK</span>
                <i class="card-icon fa fa-heart-o fa-lg"></i>
                <i class="card-icon fa fa-shopping-cart fa-lg" aria-hidden="true"></i>
                <i class="card-icon fa fa-ellipsis-v fa-lg"></i>
            </div>
        </div>

        <div class="card card-text-overlay">
            
            <div class="card-img">
                <img src="../../images/cake-2.jpg" alt="">
            </div>
            <span class="card-badge">On Offer</span>
            <img class="btn-close" src="../images/close-button.svg" alt="Close Button">
            <div class="card-header">
                Chocolate Cake
            </div>
            <div class="card-title">
                by Muffin Store
            </div>
            <div class="card-content">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Distinctio enim optio numquam eaque labore
                perspiciatis
            </div>
            <div class="card-buttons">
                <span class="card-button">VISIT</span>
                <span class="card-button">BOOKMARK</span>
                <i class="card-icon fa fa-heart-o fa-lg"></i>
                <i class="card-icon fa fa-shopping-cart fa-lg" aria-hidden="true"></i>
                <i class="card-icon fa fa-ellipsis-v fa-lg"></i>
            </div>
        </div>

        <div class="card card-horizontal">
            <img class="btn-close" src="../images/close-button.svg" alt="Close Button">
            <div class="card-img">
                <img src="../../images/cake-2.jpg" alt="">
                <div class="card-horizontal-title">
                    <div class="card-header">
                        Chocolate Cake
                    </div>
                    <div class="card-title">
                        by Muffin Store
                    </div>
                </div>
            </div>
            <div class="card-content">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Distinctio enim optio numquam eaque labore
                perspiciatis
            </div>
            <div class="card-buttons">
                <span class="card-button">VISIT</span>
                <span class="card-button">BOOKMARK</span>
                <i class="card-icon fa fa-heart-o fa-lg"></i>
                <i class="card-icon fa fa-shopping-cart fa-lg" aria-hidden="true"></i>
                <i class="card-icon fa fa-ellipsis-v fa-lg"></i>
            </div>
        </div>

        <div class="card card-text-only">
            <img class="btn-close" src="../../images/close-button.svg" alt="Close Button">
            <div class="card-header">
                Chocolate Cake
            </div>
            <div class="card-title">
                by Muffin Store
            </div>
            <div class="card-content">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Distinctio enim optio numquam eaque labore
                perspiciatis
            </div>
            <div class="card-buttons">
                <span class="card-button">ADD TO CART</span>
                <span class="card-button">BOOKMARK</span>
            </div>
        </div>

        <div class="card card-vertical card-vertical-default">
            <div class="card-img">
                <img src="../../images/cake-4.jpg" alt="">
            </div>
            <span class="card-badge">New</span>
            <div class="card-header">
                Cake
            </div>
            <div class="card-title">
                by Muffin Store
            </div>
            <div class="card-content">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit.
            </div>
            <div class="card-buttons">
                <span class="card-button">ADD TO CART</span>
            </div>
        </div>

        <div class="card card-vertical card-vertical-frame">
            <div class="card-img">
                <img src="../../images/cake-4.jpg" alt="">
            </div>
            <div class="card-header">
                Cake
            </div>
            <div class="card-title">
                by Muffin Store
            </div>
            <div class="card-content">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit.
            </div>
            <div class="card-buttons">
                <span class="card-button">ADD TO CART</span>
            </div>
        </div>
    </div>
</body>
<script src="card.js"></script>
</html>