<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Muffin UI | Cards</title>
    <link rel="stylesheet" href="../../styles/documentation.css">
    <link rel="stylesheet" href="card.css">
    
    <script src="https://kit.fontawesome.com/c89017add5.js" crossorigin="anonymous"></script>
    <!-- added for icon in browser tab -->
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
</head>
<body>
    <div class="pagewrapper">

        <!-- HEADER NAVIGATION -->
        <nav class="nav-container">
            <div class="brand">
                <img src="../../images/logo.png" alt="muffin-logo" class="logo">
                <a href="../../index.html"  class="brand-name nav-item">Muffin UI</a>
            </div> 
            <ul>
                <li class="nav-item nav-icon ">
                    <a href="https://github.com/romabulani" target="_blank">
                        <i class="fa fa-github nav-icon fa-lg" aria-hidden="true"></i>
                    </a>
                </li>
                <li class="nav-item nav-icon ">
                    <a href="https://twitter.com/romabulani" target="_blank">
                        <i class="fa fa-twitter nav-icon fa-lg" aria-hidden="true"></i>
                    </a>
                </li>
                <li class="nav-item nav-icon">
                    <a href="https://www.linkedin.com/in/romabulani/" target="_blank">
                        <i class="fa fa-linkedin nav-icon fa-lg" aria-hidden="true"></i>
                    </a>
                </li>
                <li class="nav-item nav-icon"></li>
                    <i class="hamburger fa fa-bars fa-lg" aria-hidden="true"></i>
                </li>
            </ul>
        </nav>

        <!-- SIDEBAR AND HERO SECTION -->
        <div class="sidebar-and-content">

            <!-- SIDEBAR -->
            <aside class="sidebar default-shadow">
                <ul>
                    <li class="sidenav-list">
                        <a href="../../Documentation/documentation.html" class="sidenav-item">Installation</a>
                    </li>
                    <h2 class="sidebar-heading">Components</h2>
                    <li class="sidenav-list">
                        <a href="../../Components/alert/alert.html" class="sidenav-item">Alerts</a>
                    </li>
                    <li class="sidenav-list">
                        <a href="../../Components/avatar/avatar.html" class="sidenav-item">Avatars</a>
                    </li>
                    <li class="sidenav-list">
                        <a href="../../Components/badge/badge.html" class="sidenav-item">Badges</a>
                    </li>
                    <li class="sidenav-list">
                        <a href="../../Components/button/button.html" class="sidenav-item">Buttons</a>
                    </li>
                    <li class="sidenav-list active">
                        <a href="../../Components/card/card.html" class="sidenav-item active">Cards</a>
                    </li>
                    <li class="sidenav-list">
                        <a href="../../Components/chips/chips.html" class="sidenav-item">Chips</a>
                    </li>
                    <li class="sidenav-list">
                        <a href="../../Components/image/image.html" class="sidenav-item">Image</a>
                    </li>
                    <li class="sidenav-list">
                        <a href="../../Components/input/input.html" class="sidenav-item">Input</a>
                    </li>
                    <li class="sidenav-list">
                        <a href="../../Components/lists/lists.html" class="sidenav-item">Lists</a>
                    </li>
                    <li class="sidenav-list">
                        <a href="../../Components/modal/modal.html" class="sidenav-item">Modal</a>
                    </li>
                    <li class="sidenav-list">
                        <a href="../../Components/rating/rating.html" class="sidenav-item">Rating</a>
                    </li>
                    <li class="sidenav-list">
                        <a href="../../Components/tabs/tabs.html" class="sidenav-item">Tabs</a>
                    </li>
                    <li class="sidenav-list">
                        <a href="../../Components/toast/toast.html" class="sidenav-item">Toast</a>
                    </li>
                    <li class="sidenav-list">
                        <a href="../../Components/grid/grid.html" class="sidenav-item">Simplified Grid</a>
                    </li>
                    <li class="sidenav-list">
                        <a href="../../Components/slider/slider.html" class="sidenav-item">Slider</a>
                    </li>
                    <li class="sidenav-list">
                        <a href="../../Components/utilities/utilities.html" class="sidenav-item">Utilities</a>
                    </li>
                </ul>
            </aside>

            <!-- HERO SECTION -->
            <div class="content-container">
                <div class="content">
                    <h3 class="heading3">Cards</h3>
                    <p class="description">
                        Cards contain content and actions about a single subject. Cards are surfaces that display content and actions on a single topic.They should be easy to scan for relevant and actionable information.
                    </p>
                    <h4 class="heading4">Basic Cards</h4>
                    <p class="description">
                       There are many types of cards. For all the classes, class name as <span class="keyword">card</span> should be added. Based on the choice of the user, the classes like <span class="keyword">card-default</span>, <span class="keyword">card-heading-top</span>, <span class="keyword">card-buttons-only</span> and <span class="keyword">card-icons-only</span> can be added. The HTML code can be copied fom code snipped below. Badges can also be added by using class <span class="keyword">card-badge</span>.
                    </p>
                </div>
                  
                <div class="display-component">
                    <div class="card-container flex-row-center">
                        <div class="card card-default">
                            <div class="card-img ">
                                <img src="../../images/cake-2.jpg" class="img-responsive" alt="cake">
                            </div>
                            <div class="card-header">
                                Chocolate Cake
                            </div>
                            <div class="card-title">
                                by Muffin Store
                            </div>
                            <div class="card-content">
                                Lorem ipsum, dolor sit Lorem, ipsum dolor sit amet consectetur 
                            </div>
                            <div class="card-buttons">
                                <span class="card-button">ADD TO CART</span>
                                <i class="card-icon fa fa-heart-o fa-lg"></i>
                            </div>
                        </div>
                
                
                        <div class="card card-heading-top">
                            <div class="card-img">
                                <img src="../../images/cake-2.jpg" alt="cake">
                            </div>
                            <div class="card-header">
                                Chocolate Cake
                            </div>
                            <div class="card-title">
                                by Muffin Store
                            </div>
                            <div class="card-content">
                                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Lorem ipsum dolor sit
                            </div>
                            <div class="card-buttons">
                                <span class="card-button">ADD TO CART</span>
                                <i class="card-icon fa fa-heart-o fa-lg"></i>
                            </div>
                        </div>
                
                        <div class="card card-buttons-only">
                            <div class="card-img">
                                <img src="../../images/cake-2.jpg" alt="cake">
                            </div>
                            <div class="card-header">
                                Chocolate Cake
                            </div>
                            <div class="card-title">
                                by Muffin Store
                            </div>
                            <div class="card-content">
                                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Distinctio enim optio
                            </div>
                            <div class="card-buttons">
                                <span class="card-button">ADD TO CART</span>
                            </div>
                        </div>
                
                        <div class="card card-icons-only">
                            <span class="card-badge">20% Off</span>
                            <div class="card-img">
                                <img src="../../images/cake-2.jpg" alt="cake">
                            </div>
                            <div class="card-header">
                                Chocolate Cake
                            </div>
                            <div class="card-title">
                                by Muffin Store
                            </div>
                            <div class="card-content">
                                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Distinctio enim optio
                            </div>
                            <div class="card-buttons">
                                <i class="card-icon fa fa-heart-o fa-lg"></i>
                                <i class="card-icon fa fa-shopping-cart fa-lg" aria-hidden="true"></i>
                            </div>
                        </div>                
                    </div>
                </div>

                <div class="code-snippet">
                    <script src="https://emgithub.com/embed.js?target=https%3A%2F%2Fgithub.com%2Fromabulani%2FMuffinUI%2Fblob%2FEmbedBranch%2Fembed.html%23L211-287&style=github-gist&showBorder=on&showCopy=on"></script>
                </div>            
                
                <div class="content">
                    <h4 class="heading4">Dismissable Cards</h4>
                    <p class="description">
                       The other variants of cards are <span class="keyword">card-text-overlay</span>, <span class="keyword">card-horizontal</span> and <span class="keyword">card-text-only</span>. The dismiss feature can be achieved by adding the class <span class="keyword">btn-close</span>. You can refer the code snippet.
                    </p>
                </div>
                  
                <div class="display-component">
                    <div class="card-container flex-row-center">
                        <div class="card card-text-overlay">    
                            <div class="card-img">
                                <img src="../../images/cake-2.jpg" alt="cake">
                            </div>
                            <img class="btn-close" src="../../images/close-button.svg" alt="Close Button">
                            <div class="card-header">
                                Out of Stock
                            </div>
                            <div class="card-content">
                                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Distinctio enim
                            </div>
                            <div class="card-buttons">
                                <span class="card-button">ADD TO CART</span>
                                <i class="card-icon fa fa-heart-o fa-lg"></i>
                            </div>
                        </div>
                
                        <div class="card card-horizontal">
                            <img class="btn-close" src="../../images/close-button.svg" alt="Close Button">
                            <div class="card-img">
                                <img src="../../images/cake-2.jpg" alt="cake">
                                <div class="card-horizontal-title">
                                    <div class="card-header">
                                        Chocolate Cake
                                    </div>
                                    <div class="card-title">
                                        by Muffin Store
                                    </div>
                                </div>
                            </div>
                            <div class="card-content">
                                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Distinctio enim optio
                            </div>
                            <div class="card-buttons">
                                <span class="card-button">ADD TO CART</span>
                                <i class="card-icon fa fa-heart-o fa-lg"></i>
                            </div>
                        </div>
                
                        <div class="card card-text-only">
                            <img class="btn-close" src="../../images/close-button.svg" alt="Close Button">
                            <div class="card-header">
                                Chocolate Cake
                            </div>
                            <div class="card-title">
                                by Muffin Store
                            </div>
                            <div class="card-content">
                                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Distinctio enim optio numquam eaque labore
                                perspiciatis Lorem ipsum dolor sit amet
                            </div>
                            <div class="card-buttons">
                                <span class="card-button">READ MORE</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="code-snippet">
                    <script src="https://emgithub.com/embed.js?target=https%3A%2F%2Fgithub.com%2Fromabulani%2FMuffinUI%2Fblob%2FEmbedBranch%2Fembed.html%23L290-344&style=github-gist&showBorder=on&showCopy=on"></script>
                </div>

                <div class="content">
                    <h4 class="heading4">Vertical Cards</h4>
                    <p class="description">
                       In vertical cards, we have two variants. These can be used by adding class name as <span class="keyword">card-vertical</span>. And other classes which needs to be added are <span class="keyword">card-vertical-default</span> or <span class="keyword">card-vertical-frame</span>.
                    </p>
                </div>
                  
                <div class="display-component">
                    <div class="card-container flex-row-center">
                        <div class="card card-vertical card-vertical-default">
                            <div class="card-img">
                                <img src="../../images/cake-4.jpg" alt="cake">
                            </div>
                            <span class="card-badge">New</span>
                            <div class="card-header">
                                Cake
                            </div>
                            <div class="card-title">
                                by Muffin Store
                            </div>
                            <div class="card-content">
                                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Lorem ipsum dolor sit amet
                            </div>
                            <div class="card-buttons">
                                <span class="card-button">ADD TO CART</span>
                            </div>
                        </div>
                
                        <div class="card card-vertical card-vertical-frame">
                            <div class="card-img">
                                <img src="../../images/cake-4.jpg" alt="cake">
                            </div>
                            <div class="card-header">
                                Cake
                            </div>
                            <div class="card-title">
                                by Muffin Store
                            </div>
                            <div class="card-content">
                                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Lorem ipsum dolor sit amet
                            </div>
                            <div class="card-buttons">
                                <span class="card-button">ADD TO CART</span>
                            </div>
                        </div>                                              
                    </div>
                </div>
    
                <div class="code-snippet">
                    <script src="https://emgithub.com/embed.js?target=https%3A%2F%2Fgithub.com%2Fromabulani%2FMuffinUI%2Fblob%2FEmbedBranch%2Fembed.html%23L346-381&style=github-gist&showBorder=on&showCopy=on"></script>
                </div>   
            </div>
  
        </div>

        <!-- FOOTER -->
        <footer class="footer-container flex-column-center">
            <p class="footer-header">
                Made with <span>&lt;/&gt;</span> by Roma Bulani
            </p>
            <ul>
                <li class="footer-item">
                    <a href="https://github.com/romabulani" target="_blank">
                        <i class="fa fa-github footer-icon fa-lg" aria-hidden="true"></i>
                    </a>
                </li>
                <li class="footer-item">
                    <a href="https://twitter.com/romabulani" target="_blank">
                        <i class="fa fa-twitter footer-icon fa-lg" aria-hidden="true"></i>
                    </a>
                </li>
                <li class="footer-item">
                    <a href="https://www.linkedin.com/in/romabulani/" target="_blank">
                        <i class="fa fa-linkedin footer-icon fa-lg" aria-hidden="true"></i>
                    </a>
                </li>
            </ul>
            <p class="copywright">
                © 2022 | Muffin UI
            </p>
        </footer> 
    </div>
</body>
<script src="card.js"></script>
</html>
