<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Muffin UI | Input</title>
    <link rel="stylesheet" href="input.css">
</head>

<body>
    <div class="input-container">
        <label>Username*</label>
        <input type="text" class="input-primary">
        
        <label>Username*</label>
        <input type="text" class="input-error">
        <div class="error-text"><span >*This username does not exist</span></div>

        <label>Email</label>
        <input type="text" class="input-disabled" placeholder="This is disabled field" disabled>
    </div>
</body>

</html>