@import url('../../styles/globalVar.css');
.input-container {
  align-items: flex-start;
  column-gap: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 1rem;
  row-gap: 1rem;
}

.input-disabled,
.input-error,
.input-primary {
  border-radius: 0.625rem;
  height: 2rem;
  outline: none;
  padding: 0rem 0.625rem;
  width: 40%;
}

.input-disabled {
  cursor: not-allowed;
}

.input-primary {
  border: 1px solid var(--default-color);
}

.input-error {
  border: 1px solid var(--error-color);
}

.input-primary:focus,
.input-error:focus {
  border: 1px solid var(--primary-color);
}

.error-text {
  color: var(--error-color);
}

/* Media Queries */
@media only screen and (max-width: 480px) {
  .input-disabled,
  .input-error,
  .input-primary {
    width: 90%;
  }
}
