<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Muffin UI | Avatar</title>
    <link rel="stylesheet" href="avatar.css">
</head>

<body>
    <div class="avatar-container">
        <img class="img-fit avatar avatar-lg" src="../images/avatar-1.jpg" alt="avatar">
        <img class="img-fit avatar avatar-md" src="../images/avatar-1.jpg" alt="avatar">
        <img class="img-fit avatar avatar-sm" src="../images/avatar-1.jpg" alt="avatar">
        <img class="img-fit avatar avatar-xs" src="../images/avatar-1.jpg" alt="avatar">
    </div>

    <div class="avatar-container">
        <div class="avatar-initials avatar avatar-lg">RB</div>
        <div class="avatar-initials avatar avatar-md">RB</div>
        <div class="avatar-initials avatar avatar-sm">RB</div>
        <div class="avatar-initials avatar avatar-xs">RB</div>
    </div>

    <div class="avatar-container">
        <img class="img-fit avatar-square avatar-lg" src="../images/avatar-1.jpg" alt="avatar">
        <img class="img-fit avatar-square avatar-md" src="../images/avatar-1.jpg" alt="avatar">
        <img class="img-fit avatar-square avatar-sm" src="../images/avatar-1.jpg" alt="avatar">
        <img class="img-fit avatar-square avatar-xs" src="../images/avatar-1.jpg" alt="avatar">
    </div>

</body>

</html>