<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Muffin UI | Slider</title>
    <link rel="stylesheet" href="../../styles/documentation.css">
    <link rel="stylesheet" href="slider.css">
    <script src="https://kit.fontawesome.com/c89017add5.js" crossorigin="anonymous"></script>
    <!-- added for icon in browser tab -->
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
</head>
<body>
    <div class="pagewrapper">

        <!-- HEADER NAVIGATION -->
        <nav class="nav-container">
            <div class="brand">
                <img src="../../images/logo.png" alt="muffin-logo" class="logo">
                <a href="../../index.html"  class="brand-name nav-item">Muffin UI</a>
            </div> 
            <ul>
                <li class="nav-item nav-icon ">
                    <a href="https://github.com/romabulani" target="_blank">
                        <i class="fa fa-github nav-icon fa-lg" aria-hidden="true"></i>
                    </a>
                </li>
                <li class="nav-item nav-icon ">
                    <a href="https://twitter.com/romabulani" target="_blank">
                        <i class="fa fa-twitter nav-icon fa-lg" aria-hidden="true"></i>
                    </a>
                </li>
                <li class="nav-item nav-icon">
                    <a href="https://www.linkedin.com/in/romabulani/" target="_blank">
                        <i class="fa fa-linkedin nav-icon fa-lg" aria-hidden="true"></i>
                    </a>
                </li>
                <li class="nav-item nav-icon"></li>
                    <i class="hamburger fa fa-bars fa-lg" aria-hidden="true"></i>
                </li>
            </ul>
        </nav>

        <!-- SIDEBAR AND HERO SECTION -->
        <div class="sidebar-and-content">

            <!-- SIDEBAR -->
            <aside class="sidebar default-shadow">
                <ul>
                    <li class="sidenav-list">
                        <a href="../../Documentation/documentation.html" class="sidenav-item">Installation</a>
                    </li>
                    <h2 class="sidebar-heading">Components</h2>
                    <li class="sidenav-list">
                        <a href="../../Components/alert/alert.html" class="sidenav-item">Alerts</a>
                    </li>
                    <li class="sidenav-list">
                        <a href="../../Components/avatar/avatar.html" class="sidenav-item">Avatars</a>
                    </li>
                    <li class="sidenav-list">
                        <a href="../../Components/badge/badge.html" class="sidenav-item">Badges</a>
                    </li>
                    <li class="sidenav-list">
                        <a href="../../Components/button/button.html" class="sidenav-item">Buttons</a>
                    </li>
                    <li class="sidenav-list">
                        <a href="../../Components/card/card.html" class="sidenav-item">Cards</a>
                    </li>
                    <li class="sidenav-list">
                        <a href="../../Components/chips/chips.html" class="sidenav-item">Chips</a>
                    </li>
                    <li class="sidenav-list">
                        <a href="../../Components/image/image.html" class="sidenav-item">Image</a>
                    </li>
                    <li class="sidenav-list">
                        <a href="../../Components/input/input.html" class="sidenav-item">Input</a>
                    </li>
                    <li class="sidenav-list">
                        <a href="../../Components/lists/lists.html" class="sidenav-item">Lists</a>
                    </li>
                    <li class="sidenav-list">
                        <a href="../../Components/modal/modal.html" class="sidenav-item">Modal</a>
                    </li>
                    <li class="sidenav-list">
                        <a href="../../Components/navigation/navigation.html" class="sidenav-item">Navigation</a>
                    </li>
                    <li class="sidenav-list">
                        <a href="../../Components/rating/rating.html" class="sidenav-item">Rating</a>
                    </li>
                    <li class="sidenav-list">
                        <a href="../../Components/grid/grid.html" class="sidenav-item">Simplified Grid</a>
                    </li>
                    <li class="sidenav-list active">
                        <a href="../../Components/slider/slider.html" class="sidenav-item active">Slider</a>
                    </li>
                    <li class="sidenav-list">
                        <a href="../../Components/tabs/tabs.html" class="sidenav-item">Tabs</a>
                    </li>
                    <li class="sidenav-list">
                        <a href="../../Components/toast/toast.html" class="sidenav-item">Toast</a>
                    </li>
                    <li class="sidenav-list">
                        <a href="../../Components/utilities/utilities.html" class="sidenav-item">Utilities</a>
                    </li>
                </ul>
            </aside>

            <!-- HERO SECTION -->
            <div class="content-container">
                <div class="content">
                    <h3 class="heading3">Slider</h3>
                    <p class="description">
                        Sliders allow users to make selections from a range of values.
                    </p>
                    <h4 class="heading4">Default Slider</h4>
                    <p class="description">
                        Sliders can be used by giving the class name <span class="keyword">slider-default</span> to the div tag. You can refer HTML code snippet below. Also, you can add the icons as per your requirement.
                    </p>
                </div>
                  
                <div class="display-component">
                    <div class="default-slider">
                        <i class="fas fa-volume-mute fa-lg"></i>
                        <input type="range" min="1" max="100">
                        <i class="fas fa-volume-up fa-lg"></i>
                    </div>
                </div>

                <div class="code-snippet">
                    <script src="https://emgithub.com/embed.js?target=https%3A%2F%2Fgithub.com%2Fromabulani%2FMuffinUI%2Fblob%2FEmbedBranch%2Fembed.html%23L725-729&style=github-gist&showBorder=on&showCopy=on"></script>
                </div>        
            </div>
        </div>

        <!-- FOOTER -->
        <footer class="footer-container flex-column-center">
            <p class="footer-header">
                Made with <span>&lt;/&gt;</span> by Roma Bulani
            </p>
            <ul>
                <li class="footer-item">
                    <a href="https://github.com/romabulani" target="_blank">
                        <i class="fa fa-github footer-icon fa-lg" aria-hidden="true"></i>
                    </a>
                </li>
                <li class="footer-item">
                    <a href="https://twitter.com/romabulani" target="_blank">
                        <i class="fa fa-twitter footer-icon fa-lg" aria-hidden="true"></i>
                    </a>
                </li>
                <li class="footer-item">
                    <a href="https://www.linkedin.com/in/romabulani/" target="_blank">
                        <i class="fa fa-linkedin footer-icon fa-lg" aria-hidden="true"></i>
                    </a>
                </li>
            </ul>
            <p class="copywright">
                © 2022 | Muffin UI
            </p>
        </footer>
    </div>
  
</body>
<script src="../../Documentation/sidebar.js"></script>
</html>
