<!DOCTYPE html>
<html lang="en">
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Muffin UI | Chips</title>
  <script src="https://kit.fontawesome.com/c89017add5.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="../../styles/documentation.css">
  <link rel="stylesheet" href="chips.css">
  <!-- added for favicon-->
  <link rel="apple-touch-icon" sizes="180x180" href="../../assets/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="16x16" href="../../assets/favicon-16x16.png">
  <link rel="icon" type="image/png" sizes="32x32" href="../../assets/favicon-32x32.png">
  <link rel="manifest" href="../../assets/site.webmanifest">
  <link rel="mask-icon" href="../../assets/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="theme-color" content="#ffffff">
</head>
<head>
<body>
  <div class="pagewrapper">

    <!-- HEADER NAVIGATION -->
    <nav class="nav-container">
      <div class="brand">
        <img src="../../images/logo.png" alt="muffin-logo" class="logo">
        <a href="../../index.html"  class="brand-name nav-item">Muffin UI</a>
      </div> 
      <ul>
        <li class="nav-item nav-icon ">
          <a href="https://github.com/romabulani" target="_blank" rel="noreferrer" aria-label="github">
            <i class="fa fa-github nav-icon fa-lg" aria-hidden="true"></i>
          </a>
        </li>
        <li class="nav-item nav-icon ">
          <a href="https://twitter.com/romabulani" target="_blank" rel="noreferrer" aria-label="twitter">
            <i class="fa fa-twitter nav-icon fa-lg" aria-hidden="true"></i>
          </a>
        </li>
        <li class="nav-item nav-icon">
          <a href="https://www.linkedin.com/in/romabulani/" target="_blank" rel="noreferrer" aria-label="linkedin">
            <i class="fa fa-linkedin nav-icon fa-lg" aria-hidden="true"></i>
          </a>
        </li>
        <li class="nav-item nav-icon"></li>
          <i class="hamburger fa fa-bars fa-lg" aria-hidden="true"></i>
        </li>
      </ul>
    </nav>

    <!-- SIDEBAR AND HERO SECTION -->
    <div class="sidebar-and-content">

      <!-- SIDEBAR -->
      <aside class="sidebar default-shadow">
        <ul>
          <li class="sidenav-list">
            <a href="../../Documentation/documentation.html" class="sidenav-item">Installation</a>
          </li>
          <h2 class="sidebar-heading">Components</h2>
          <li class="sidenav-list">
            <a href="../../Components/alert/alert.html" class="sidenav-item">Alerts</a>
          </li>
          <li class="sidenav-list">
            <a href="../../Components/avatar/avatar.html" class="sidenav-item">Avatars</a>
          </li>
          <li class="sidenav-list">
            <a href="../../Components/badge/badge.html" class="sidenav-item">Badges</a>
          </li>
          <li class="sidenav-list">
            <a href="../../Components/button/button.html" class="sidenav-item">Buttons</a>
          </li>
          <li class="sidenav-list">
            <a href="../../Components/card/card.html" class="sidenav-item">Cards</a>
          </li>
          <li class="sidenav-list active">
            <a href="../../Components/chips/chips.html" class="sidenav-item active">Chips</a>
          </li>
          <li class="sidenav-list">
            <a href="../../Components/image/image.html" class="sidenav-item">Image</a>
          </li>
          <li class="sidenav-list">
            <a href="../../Components/input/input.html" class="sidenav-item">Input</a>
          </li>
          <li class="sidenav-list">
            <a href="../../Components/lists/lists.html" class="sidenav-item">Lists</a>
          </li>
          <li class="sidenav-list">
            <a href="../../Components/modal/modal.html" class="sidenav-item">Modal</a>
          </li>
          <li class="sidenav-list">
            <a href="../../Components/navigation/navigation.html" class="sidenav-item">Navigation</a>
          </li>
          <li class="sidenav-list">
            <a href="../../Components/rating/rating.html" class="sidenav-item">Rating</a>
          </li>
          <li class="sidenav-list">
            <a href="../../Components/grid/grid.html" class="sidenav-item">Simplified Grid</a>
          </li>
          <li class="sidenav-list">
            <a href="../../Components/slider/slider.html" class="sidenav-item">Slider</a>
          </li>
          <li class="sidenav-list">
            <a href="../../Components/tabs/tabs.html" class="sidenav-item">Tabs</a>
          </li>
          <li class="sidenav-list">
            <a href="../../Components/toast/toast.html" class="sidenav-item">Toast</a>
          </li>
          <li class="sidenav-list">
            <a href="../../Components/utilities/utilities.html" class="sidenav-item">Utilities</a>
          </li>
        </ul>
      </aside>

      <!-- HERO SECTION -->
      <main class="content-container">
        <div class="content">
          <h3 class="heading3">Chips</h3>
          <p class="description">
            Chips are compact elements that represent an input, attribute, or action.
          </p>
          <h4 class="heading4">Default Chips</h4>
          <p class="description">
             Chips can be used by giving the class name <span class="keyword">chip</span> to the span tag.
          </p>
        </div>
          
        <div class="display-component flex-row-center">
          <span class="chip">
            Apple
          </span>
          <span class="chip">
            Carrot
          </span>
          <span class="chip">
            Lemon
          </span>
          <span class="chip">
            Plant
          </span>
        </div>

        <div class="code-snippet">
          <script src="https://emgithub.com/embed.js?target=https%3A%2F%2Fgithub.com%2Fromabulani%2FMuffinUI%2Fblob%2FEmbedBranch%2Fembed.html%23L735-746&style=github-gist&showBorder=on&showCopy=on"></script>
        </div>      
        
        <div class="content">
          <h4 class="heading4">Chips with Icons</h4>
          <p class="description">
             This variant of chips can be used by adding class as <span class="keyword">chips-icon</span>.
          </p>
        </div>
          
        <div class="display-component flex-column-center">
          <div class="chips-icon">
            <span class="chip">
              <i class="fas fa-apple-alt"></i>
              Apple
            </span>
            <span class="chip">
              <i class="fas fa-carrot"></i>
              Carrot
            </span>
            <span class="chip">
              <i class="fas fa-lemon"></i>
              Lemon
            </span>
            <span class="chip">
              <i class="fas fa-seedling"></i>
              Plant
            </span>
          </div>
        </div>

        <div class="code-snippet">
          <script src="https://emgithub.com/embed.js?target=https%3A%2F%2Fgithub.com%2Fromabulani%2FMuffinUI%2Fblob%2FEmbedBranch%2Fembed.html%23L752-769&style=github-gist&showBorder=on&showCopy=on"></script>
        </div>

        <div class="content">
          <h4 class="heading4">Dynamic Chips</h4>
          <p class="description">
             This variant of chips can be used by adding class as <span class="keyword">chips-dynamic</span> to the div. Please refer the JS code snippet.
          </p>
        </div>
          
        <div class="display-component flex-column-center">
          <input type="text-area" class="chip-input" placeholder="Press Enter to add a new word">
          <div class="chips-dynamic">

          </div>
        </div>

        <p class="description">
          HTML
        </p>
        <div class="code-snippet">
          <script src="https://emgithub.com/embed.js?target=https%3A%2F%2Fgithub.com%2Fromabulani%2FMuffinUI%2Fblob%2FEmbedBranch%2Fembed.html%23L772-775&style=github-gist&showBorder=on&showCopy=on"></script>
        </div>
        <p class="description">
          Javascript
        </p>
        <div class="code-snippet">
          <script src="https://emgithub.com/embed.js?target=https%3A%2F%2Fgithub.com%2Fromabulani%2FMuffinUI%2Fblob%2FEmbedBranch%2Fembed.js%23L33-54&style=github-gist&showBorder=on&showCopy=on"></script>
        </div>   
      </main>
    </div>

    <!-- FOOTER -->
    <footer class="footer-container flex-column-center">
      <p class="footer-header">
        Made with <span>&lt;/&gt;</span> by Roma Bulani
      </p>
      <ul>
        <li class="footer-item">
          <a href="https://github.com/romabulani" target="_blank" rel="noreferrer" aria-label="github">
            <i class="fa fa-github footer-icon fa-lg" aria-hidden="true"></i>
          </a>
        </li>
        <li class="footer-item">
          <a href="https://twitter.com/romabulani" target="_blank" rel="noreferrer" aria-label="twitter">
            <i class="fa fa-twitter footer-icon fa-lg" aria-hidden="true"></i>
          </a>
        </li>
        <li class="footer-item">
          <a href="https://www.linkedin.com/in/romabulani/" target="_blank" rel="noreferrer" aria-label="linkedin">
            <i class="fa fa-linkedin footer-icon fa-lg" aria-hidden="true"></i>
          </a>
        </li>
      </ul>
      <p class="copywright">
        © 2022 | Muffin UI
      </p>
    </footer>
  </div>
  
</body>
<script src="../../Documentation/sidebar.js"></script>
<script src="chips.js"></script>
</html>
