@import url('../../styles/globalVar.css');
@import url('../lists/lists.css');
@import url('../badge/badge.css');

.nav-simple-container{
    align-items: center;
    box-shadow:  0 0 0.625rem var(--shadow-color);
    display: flex;
    justify-content:space-between;
    padding: 0.75rem;
    background-color: var(--default-color);
    color: var(--light-color);
    flex-wrap: wrap;
    border-radius: 5px;
}

.nav-simple-brand{
    justify-self: flex-start;
    color: var(--light-color);
    font-size: 1.8rem;
    margin-left: 0.625rem;
    align-self: center;
    text-decoration: none;
}

.nav-simple-container > ul > li{
    list-style-type: none;
}

.nav-simple-container > ul{
    column-gap: 2rem;
    display: flex;
    padding: 1rem;
 } 

.nav-simple-item, .nav-simple-item > i{
    display: inline-block;
    text-decoration: none;
    color: var(--light-color);
}

.nav-simple-brand:hover, .nav-simple-item:hover, .nav-simple-item > i:hover{
    filter: brightness(120%);
}

.nav-simple-container > ul > .badge > a > .badge-icon{
    background-color: var(--secondary-color);
}
