<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Muffin UI | Badges</title>
  <script src="https://kit.fontawesome.com/c89017add5.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="../../styles/documentation.css">
  <link rel="stylesheet" href="badge.css">
  <!-- added for favicon -->
  <link rel="apple-touch-icon" sizes="180x180" href="../../assets/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="../../assets/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="../../assets/favicon-16x16.png">
  <link rel="manifest" href="../../assets/site.webmanifest">
  <link rel="mask-icon" href="../../assets/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="theme-color" content="#ffffff">
</head>

<body>
  <div class="pagewrapper">

    <!-- HEADER NAVIGATION -->
    <nav class="nav-container">
      <div class="brand">
        <img src="../../images/logo.png" alt="muffin-logo" class="logo">
        <a href="../../index.html"  class="brand-name nav-item">Muffin UI</a>
      </div> 
      <ul>
        <li class="nav-item nav-icon ">
          <a href="https://github.com/romabulani" target="_blank" rel="noreferrer" aria-label="github">
            <i class="fa fa-github nav-icon fa-lg" aria-hidden="true"></i>
          </a>
        </li>
        <li class="nav-item nav-icon ">
          <a href="https://twitter.com/romabulani" target="_blank" rel="noreferrer" aria-label="twitter">
            <i class="fa fa-twitter nav-icon fa-lg" aria-hidden="true"></i>
          </a>
        </li>
        <li class="nav-item nav-icon">
          <a href="https://www.linkedin.com/in/romabulani/" target="_blank" rel="noreferrer" aria-label="linkedin rel="noreferrer" aria-label="github"">
            <i class="fa fa-linkedin nav-icon fa-lg" aria-hidden="true"></i>
          </a>
        </li>
        <li class="nav-item nav-icon"></li>
          <i class="hamburger fa fa-bars fa-lg" aria-hidden="true"></i>
        </li>
      </ul>
    </nav>

    <!-- SIDEBAR AND HERO SECTION -->
    <div class="sidebar-and-content">

      <!-- SIDEBAR -->
      <aside class="sidebar default-shadow">
        <ul>
          <li class="sidenav-list">
            <a href="../../Documentation/documentation.html" class="sidenav-item">Installation</a>
          </li>
          <h2 class="sidebar-heading">Components</h2>
          <li class="sidenav-list">
            <a href="../../Components/alert/alert.html" class="sidenav-item">Alerts</a>
          </li>
          <li class="sidenav-list">
            <a href="../../Components/avatar/avatar.html" class="sidenav-item">Avatars</a>
          </li>
          <li class="sidenav-list active">
            <a href="../../Components/badge/badge.html" class="sidenav-item active">Badges</a>
          </li>
          <li class="sidenav-list">
            <a href="../../Components/button/button.html" class="sidenav-item">Buttons</a>
          </li>
          <li class="sidenav-list">
            <a href="../../Components/card/card.html" class="sidenav-item">Cards</a>
          </li>
          <li class="sidenav-list">
            <a href="../../Components/chips/chips.html" class="sidenav-item">Chips</a>
          </li>
          <li class="sidenav-list">
            <a href="../../Components/image/image.html" class="sidenav-item">Image</a>
          </li>
          <li class="sidenav-list">
            <a href="../../Components/input/input.html" class="sidenav-item">Input</a>
          </li>
          <li class="sidenav-list">
            <a href="../../Components/lists/lists.html" class="sidenav-item">Lists</a>
          </li>
          <li class="sidenav-list">
            <a href="../../Components/modal/modal.html" class="sidenav-item">Modal</a>
          </li>
          <li class="sidenav-list">
            <a href="../../Components/navigation/navigation.html" class="sidenav-item">Navigation</a>
          </li>
          <li class="sidenav-list">
            <a href="../../Components/rating/rating.html" class="sidenav-item">Rating</a>
          </li>
          <li class="sidenav-list">
            <a href="../../Components/grid/grid.html" class="sidenav-item">Simplified Grid</a>
          </li>
          <li class="sidenav-list">
            <a href="../../Components/slider/slider.html" class="sidenav-item">Slider</a>
          </li>
          <li class="sidenav-list">
            <a href="../../Components/tabs/tabs.html" class="sidenav-item">Tabs</a>
          </li>
          <li class="sidenav-list">
            <a href="../../Components/toast/toast.html" class="sidenav-item">Toast</a>
          </li>
          <li class="sidenav-list">
            <a href="../../Components/utilities/utilities.html" class="sidenav-item">Utilities</a>
          </li>
        </ul>
      </aside>

      <!-- HERO SECTION -->
      <main class="content-container">
        <div class="content">
          <h3 class="heading3">Badges</h3>
          <p class="description">
            Badges can be combined with Avatars, they are useful for status of user like busy, offline and away. They can also be used on icons for notifications.
          </p>
          <h4 class="heading4">Badges for Image Avatars</h4>
          <p class="description">
            The first variant of Badge is for Round Image Avatars.For Round Avatars, class name <span class="keyword">badge-round-avatar</span> needs to be added in span tag. As per the avatar size selected, the badge size differs, the sizes for badges are <span class="keyword">badge-lg</span>, <span class="keyword">badge-md</span>, <span class="keyword">badge-sm</span>, <span class="keyword">badge-xs</span>. Based on the status of the user, the different choices are <span class="keyword">badge-busy</span>, <span class="keyword">badge-away</span> and <span class="keyword">badge-online</span>.
          </p>
        </div>
          
        <div class="display-component">
          <div class="badge-container">
            <div class="badge">
              <img class="avatar avatar-lg" src="../../images/avatar-1.webp" alt="avatar">
              <span class="badge-round-avatar badge-lg badge-busy"></span>
            </div>
            <div class="badge">
              <img class="avatar avatar-md" src="../../images/avatar-1.webp" alt="avatar">
              <span class="badge-round-avatar badge-md badge-away"></span>
            </div>
            <div class="badge">
              <img class="avatar avatar-sm" src="../../images/avatar-1.webp" alt="avatar">
              <span class="badge-round-avatar badge-sm badge-online"></span>
            </div>
            <div class="badge">
              <img class="avatar avatar-xs" src="../../images/avatar-1.webp" alt="avatar">
              <span class="badge-round-avatar badge-xs badge-busy"></span>
            </div>
          </div>
        </div>

        <div class="code-snippet">
          <script src="https://emgithub.com/embed.js?target=https%3A%2F%2Fgithub.com%2Fromabulani%2FMuffinUI%2Fblob%2FEmbedBranch%2Fembed.html%23L90-L105&style=github-gist&showBorder=on&showCopy=on"></script>
        </div>
        
        <div class="content">
          <p class="description">
            The second variant is for square avatars, only difference is that, you have to add class as <span class="keyword">badge-square-avatar</span>
          </p>
        </div>
          
        <div class="display-component">
          <div class="badge-container">
            <div class="badge">
              <img class="avatar-square avatar-lg" src="../../images/avatar-1.webp" alt="avatar">
              <span class="badge-square-avatar badge-lg badge-busy"></span>
            </div>
            <div class="badge">
              <img class="avatar-square avatar-md" src="../../images/avatar-1.webp" alt="avatar">
              <span class="badge-square-avatar badge-md badge-away"></span>
            </div>
            <div class="badge">
              <img class="avatar-square avatar-sm" src="../../images/avatar-1.webp" alt="avatar">
              <span class="badge-square-avatar badge-sm badge-online"></span>
            </div>
            <div class="badge">
              <img class="avatar-square avatar-xs" src="../../images/avatar-1.webp" alt="avatar">
              <span class="badge-square-avatar badge-xs badge-busy"></span>
            </div>
          </div>
        </div>

        <div class="code-snippet">
          <script src="https://emgithub.com/embed.js?target=https%3A%2F%2Fgithub.com%2Fromabulani%2FMuffinUI%2Fblob%2FEmbedBranch%2Fembed.html%23L109-L124&style=github-gist&showBorder=on&showCopy=on"></script>
        </div>
        
        
        <div class="content">
          <h4 class="heading4">Badges for Icons</h4>
          <p class="description">
            For Icon Badges, the three classes are to be added in span tag <span class="keyword">badge-icon</span>, <span class="keyword">badge-number</span> and <span class="keyword">badge-right</span>
          </p>
        </div>
          
        <div class="display-component">
          <div class="badge-container">
            <div class="badge">
              <i class="fas fa-shopping-cart fa-lg"></i>
              <span class="badge-icon badge-number badge-right badge-lg">9</span>
            </div>
            <div class="badge">
              <i class="fas fa-shopping-cart fa-lg"></i>
              <span class="badge-icon badge-number badge-right">99</span>
            </div>
        
            <div class="badge">
              <i class="fas fa-shopping-cart fa-lg"></i>
              <span class="badge-icon badge-number badge-right">99+</span>
            </div>
          </div>
        </div>

        <div class="code-snippet">
        <script src="https://emgithub.com/embed.js?target=https%3A%2F%2Fgithub.com%2Fromabulani%2FMuffinUI%2Fblob%2FEmbedBranch%2Fembed.html%23L128-L139&style=github-gist&showBorder=on&showCopy=on"></script>
        </div>
        
      </main>
    </div>

    <!-- FOOTER -->
    <footer class="footer-container flex-column-center">
      <p class="footer-header">
        Made with <span>&lt;/&gt;</span> by Roma Bulani
      </p>
      <ul>
        <li class="footer-item">
          <a href="https://github.com/romabulani" target="_blank" rel="noreferrer" aria-label="github">
            <i class="fa fa-github footer-icon fa-lg" aria-hidden="true"></i>
          </a>
        </li>
        <li class="footer-item">
          <a href="https://twitter.com/romabulani" target="_blank" rel="noreferrer" aria-label="twitter">
            <i class="fa fa-twitter footer-icon fa-lg" aria-hidden="true"></i>
          </a>
        </li>
        <li class="footer-item">
          <a href="https://www.linkedin.com/in/romabulani/" target="_blank" rel="noreferrer" aria-label="linkedin">
            <i class="fa fa-linkedin footer-icon fa-lg" aria-hidden="true"></i>
          </a>
        </li>
      </ul>
      <p class="copywright">
        © 2022 | Muffin UI
      </p>
    </footer>
  </div>
</body>
<script src="../../Documentation/sidebar.js"></script>
</html>
