<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Muffin UI | Badges</title>
    <link rel="stylesheet" href="badge.css">
    <script src="https://kit.fontawesome.com/c89017add5.js" crossorigin="anonymous"></script>
</head>

<body>
    <div class="badge-container">
        <div class="badge">
            <img class="avatar avatar-lg-size" src="../images/avatar-1.jpg" alt="avatar">
            <span class="badge-round-avatar badge-lg-circle badge-busy"></span>
        </div>
        <div class="badge">
            <img class="avatar avatar-md-size" src="../images/avatar-1.jpg" alt="avatar">
            <span class="badge-round-avatar badge-md-circle badge-away"></span>
        </div>
        <div class="badge">
            <img class="avatar avatar-sm-size" src="../images/avatar-1.jpg" alt="avatar">
            <span class="badge-round-avatar badge-sm-circle badge-online"></span>
        </div>
        <div class="badge">
            <img class="avatar avatar-xs-size" src="../images/avatar-1.jpg" alt="avatar">
            <span class="badge-round-avatar badge-xs-circle badge-busy"></span>
        </div>
    </div>

    <div class="badge-container">
        <div class="badge">
            <img class="avatar-square avatar-lg-size" src="../images/avatar-1.jpg" alt="avatar">
            <span class="badge-square-avatar badge-lg-circle badge-busy"></span>
        </div>
        <div class="badge">
            <img class="avatar-square avatar-md-size" src="../images/avatar-1.jpg" alt="avatar">
            <span class="badge-square-avatar badge-md-circle badge-away"></span>
        </div>
        <div class="badge">
            <img class="avatar-square avatar-sm-size" src="../images/avatar-1.jpg" alt="avatar">
            <span class="badge-square-avatar badge-sm-circle badge-online"></span>
        </div>
        <div class="badge">
            <img class="avatar-square avatar-xs-size" src="../images/avatar-1.jpg" alt="avatar">
            <span class="badge-square-avatar badge-xs-circle badge-busy"></span>
        </div>
    </div>

    <div class="badge-container">
        <div class="badge">
            <i class="fas fa-shopping-cart"></i>
            <span class="badge-icon badge-small badge-right">9</span>
        </div>
        <div class="badge">
            <i class="fas fa-shopping-cart"></i>
            <span class="badge-icon badge-small badge-right">99</span>
        </div>

        <div class="badge">
            <i class="fas fa-shopping-cart"></i>
            <span class="badge-icon badge-small badge-right">99+</span>
        </div>
    </div>

</body>

</html>