<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Muffin UI | Alert</title>
    <link rel="stylesheet" href="alert.css">
    <script src="https://kit.fontawesome.com/c89017add5.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="alert-container">
        <div class="alert alert-success">
            <i class="fas fa-check-circle"></i>
            This is the success alert. Check this out!
        </div>
        <div class="alert alert-info">
            <i class="fas fa-info-circle"></i>
            This is the info alert. Check this out!
        </div>
        <div class="alert alert-warning">
            <i class="fas fa-exclamation-triangle"></i>
            This is the warning alert. Check this out!
        </div>
        <div class="alert alert-error">
            <i class="fas fa-exclamation-circle"></i>
            This is the error alert. Check this out!
        </div>
    </div>

    <div class="alert-container">
        <div class="alert alert-success-filled">
            <i class="fas fa-check-circle"></i>
            This is the success alert. Check this out!
        </div>
        <div class="alert alert-info-filled">
            <i class="fas fa-info-circle"></i>
            This is the info alert. Check this out!
        </div>
        <div class="alert alert-warning-filled">
            <i class="fas fa-exclamation-triangle"></i>
            This is the warning alert. Check this out!
        </div>
        <div class="alert alert-error-filled">
            <i class="fas fa-exclamation-circle"></i>
            This is the error alert. Check this out!
        </div>
    </div>

    <div class="alert-container">
        <div class="alert alert-success">
            <i class="fas fa-check-circle"></i>
            Close me!
            <img class="btn-close" src="../images/close-button.svg" alt="Close Button">
        </div>
    </div>
</body>
<script src="alert.js"></script>
</html>