/* footer */
.footer-container {
  background-color: var(--default-color);
  margin-top: 1rem;
  padding: 1rem;
}

.footer-header {
  color: var(--light-color);
  font-size: 1.2rem;
  margin-top: 1rem;
}

.footer-icon {
  color: var(--light-color);
  text-decoration: none;
}

.footer-icon:hover,
.footer-header > span {
  color: var(--primary-light-color);
}

.copywright {
  color: var(--light-color);
  font-size: 0.75rem;
}

.footer-item {
  display: inline-block;
}
